div.row
  div.col-sm-12
    a(href="/feeds/instagram/{{ item.id }}")
      img(ng-src="{{ item.images.standard_resolution.url }}" width="100%")
div.row
  div.col-sm-6
    p
      a(href="http://instagram.com/{{ item.user.username }}" target="_blank")
        @{{ item.user.username }}


    a.edit_trigger(href="javascript:void(0)" ng-click="edit_caption()")
      i.fa.fa-edit(ng-show="!is_edit_mode")

    div(ng-click="edit_caption()" ng-model="item.caption.text" contenteditable="{{ is_edit_mode }}")

    p(ng-show="is_edit_mode")
      button.btn.btn-link(ng-click="reset_caption()") reset
      button.btn.btn-primary(ng-click="save_caption()") save
