div.row
  div(class="col-sm-6")
    fd-feed(feed-type="instagram" feed-items-count="feeds.default_items_count")

  div(class="col-sm-6")
    fd-feed(feed-type="flickr" feed-items-count="feeds.default_items_count")
    //- app-flickr-feed(feed="flickr")
